{% extends "layout.html" %}

{% block body %}
<h1>Artist: {{artist.name}}</h1>

{% if artist.albums %}
<h2>{{ artist.albums|length }}
    {% if artist.albums|length > 1 %}
    Albums
    {% else %}
    Album
    {% endif %}
</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Album</th>
            <th scope="col">Songs in album</th>
        </tr>
    </thead>
    <tbody>
        {% for album in artist.albums %}
        <tr>
            <td><a href="{{ url_for('albums_view_one', album_id=album.id ) }}">{{ album.name }}</a></td>
            <td>{{ album.song_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>No albums</h2>
{% endif %}

{% endblock %}