{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Song</th>
      <th>Views</th>
      <th>Creator</th>
    </tr>
    {% for song in songs %}
    <tr>
      <td><a href={{ url_for('songs_view_one', song_id=song.id ) }}>{{ song.name }}</a></td>
      <td>{{ song.views }}</td>
      <td>{{ song.account_id }}</td>
      <td>
          <form method="POST" action="{{ url_for('songs_add_view', song_id=song.id) }}">
              <input type="submit" value="Add view!">
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}