{% extends "layout.html" %}

{% block body %}
<h1>Songs</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Song</th>
      <th scope="col">Samples used in this song</th>
      <th scope="col">Views</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td><a href="{{ url_for('songs_view_one', song_id=song.id ) }}">{{ song.name }}</a></td>
      <td>{{ song.samples_used }}</td>
      <td>{{ song.views }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}