{% extends "layout.html" %}

{% block body %}
{% if form.song_artist.choices|length > 0 %}
<form method="POST" action="{{ url_for('songs_create') }}">

  <table>
    <tr>
      <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>{{ form.song_artist.label }}</td>
      <td>{{ form.song_artist }}</td>
      <td>
        <a href="{{ url_for('artists_form') }}">Add missing artist!</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new song" />
      </td>
    </tr>
  </table>
</form>
{% else %}
<a href="{{ url_for('artists_form') }}">Add artist!</a>
{% endif %}
{% endblock %}