{% extends "layout.html" %}

{% block body %}
<h1>Song title: {{song.name}}</h1>
<h2>Artists:
    {% for artist in song.artists %}
    <a href="{{ url_for('artists_view_one', artist_id=artist.id ) }}">
        {{artist.name}}
    </a>
    {% endfor %}
</h2>
<h2>Album: <a href="{{ url_for('albums_view_one', album_id=song.album.id) }}">{{song.album.name}}</a></h2>
<p>Views: {{song.views}}</p>

{% if current_user.is_authenticated %}
<form method="POST" action="{{ url_for('songs_delete_one', song_id=song.id) }}">
    <input type="submit" value="Delete song">
</form>
{% endif %}

{% endblock %}