{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('albums_create') }}">

  <table class="table">
    <tr>
      <td>{{ form.name.label }}</td>
      <td>{{ form.name }}</td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>{{ form.album_artist.label }}</td>
      <td>{{ form.album_artist }}</td>

    </tr>
    <tr>
      <td>{{ form.release_year.label }}</td>
      <td>{{ form.release_year }}</td>
      <td>
          <ul>
            {% for error in form.release_year.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    <tr>
      <td><a href="{{ url_for('artists_form') }}">Add missing artist!</a></td>
      <td colspan="2">
        <input type="submit" value="Add a new album" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}